@model FecharContaViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Fechar Conta";
}

<div class="row">

    <div class="mt-2">
        <label class="control-label">Titular: @Model.Titular</label>
    </div>

    <div class="mt-2">
        <label class="control-label">Mesa: @Model.Mesa</label>
    </div>

    <div class="mt-2">
        <label class="control-label">Garçom: @Model.Garcom</label>
    </div>

    <div class="mt-2">
        <label class="control-label">Valor Total: @Model.ValorTotal</label>
    </div>

</div>

<div class="row mt-2">

    <div class="col-6 ">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Total parcial</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var pedido in Model.Pedidos)
            {
                <tr>
                    <td>@pedido.Id</td>
                    <td>@pedido.Produto</td>
                    <td>@pedido.QuantidadeSolicitada</td>
                    <td>@pedido.TotalParcial.ToString("C2")</td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    <div class="mt-2">
        <form asp-action="FecharConfirmado">
            <button class="btn btn-success">Fechar</button>
            <a href="/conta/listar" class="btn btn-info">Voltar</a>
        </form>
    </div>

</div>
