@model ControleDeBar.WebApp.Models.GerenciarPedidosViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Gerenciar Pedidos da Conta";
}

<div class="row">
    <div class="mt-2">
        <label class="control-label"><strong>Titular:</strong> @Model.Conta.Titular</label>
    </div>

    <div class="mt-2">
        <label class="control-label"><strong>Mesa:</strong> @Model.Conta.Mesa</label>
    </div>

    <div class="mt-2">
        <label class="control-label"><strong>Garçom:</strong> @Model.Conta.Garcom</label>
    </div>
</div>

<div class="row mt-3">
    <div class="col-lg-6 d-grid gap-3">
        <form class="d-flex gap-2 align-items-center" asp-action="AdicionarPedido">
            <div class="col-6">
                <label class="control-label">Produto: </label>

                <select class="form-select" asp-for="IdProduto" asp-items="Model.Produtos">
                    <option></option>
                </select>
            </div>

            <div class="col-3">
                <label class="control-label">Quantidade: </label>
                <input type="number" asp-for="QuantidadeSolicitada" class="form-control" />
            </div>

            <button class="btn btn-primary align-self-end col">
                Adicionar
            </button>
        </form>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Total parcial</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pedido in Model.Conta.Pedidos)
                {
                    <tr>
                        <td>@pedido.Id</td>
                        <td>@pedido.Produto</td>
                        <td>@pedido.QuantidadeSolicitada</td>
                        <td>@pedido.TotalParcial.ToString("C2")</td>
                        <td>
                            <div class="d-flex gap-2">
                                <form asp-action="RemoverPedido">
                                    <button class="btn btn-danger">
                                        <i class="bi bi-trash3"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <a href="/conta/listar" class="btn btn-secondary px-5 mt-2">
            <i class="bi bi-arrow-return-left me-1"></i>
            Voltar
        </a>
    </div>
</div>