@model IEnumerable<ListarContaViewModel>

@{
    Layout = "_Layout";
    ViewBag.Title = "Listagem de Contas";
}

<div class="d-flex gap-2 mt-3">
    <a class="btn btn-primary px-3" href="/conta/abrir">Abrir Conta</a>

    <a class="btn btn-primary px-3" href="/conta/listar?status=abertas">Contas Abertas</a>

    <a class="btn btn-primary px-3" href="/conta/listar?status=fechadas">Contas Fechadas</a>

    <a class="btn btn-primary px-3" href="/conta/visualizar-faturamento">Visualizar Faturamento</a>
</div>


<div class="row mt-3">
    @if (!Model.Any())
    {
        <h3 class="fs-2">Nenhuma conta foi encontrada!</h3>
    }
    else
    {
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Abertura</th>
                <th>Titular</th>
                <th>Mesa</th>
                <th>Garçom</th>
                <th>Status</th>
                <th></th>
            </tr>
            </thead>
            
            <tbody>
                @foreach (var conta in Model)
                {
                    <tr>
                        <td>@conta.Id</td>
                        <td>@conta.Abertura</td>
                        <td>@conta.Titular</td>
                        <td>@conta.Mesa</td>
                        <td>@conta.Garcom</td>
                        <td>@conta.EstaAberta</td>
                        <td>
                            <div class="d-flex gap-2 justify-content-center">
                                <a class="btn btn-primary btn-sm" href="/conta/@conta.Id/gerenciar-pedidos">
                                    <i class="bi bi-bag-plus-fill"></i>
                                </a>

                                <a class="btn btn-success btn-sm" href="/conta/@conta.Id/fechar">
                                    <i class="bi bi-cash-coin"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>